body {
  font-family: Roboto;
  color: #000;
  background-color: #fff;
  text-shadow: 0 0 5px;
}

iframe {
  box-shadow: 0 0 5px;
  border: 1px solid white;
  width: 100%;
  height: 500px;
  background-color: #ddd;
}

button {
  background-color: #fff;
  color: #000;
  padding: 5px;
  border: 1px solid #000;
  box-shadow: 0 0 5px;
  text-shadow: 0 0 5px;
  transition: 0.4s;
}

button:hover {
  background-color: #333;
  border: 1px solid #aaa;
  color: #fff;
  cursor: pointer;
}

button.float {
  float: right;
}

#copied-container {
  background-color: #000;
  color: lightgreen;
  padding: 15px;
  font-size: 20px;
  float: right;
  text-shadow: 0 0 5px;
  box-shadow: 0 0 5px black;
  border: 1px solid white;
  height: 100px;
}
